<div class="footer-sponsors">
  <div>
    <h2>Sponsors</h2>
  </div>
  <div>
    <h4> <a href="https://amsterdameconomicboard.com/en/initiative/leap" target="_blank">Amsterdam Economic Board – LEAP Program</a></h4>
    The DISC is endorsed by the Amsterdam Economic Board under the LEAP Program.
    <!-- <a href="https://amsterdameconomicboard.com/en/initiative/leap"> -->
      <!-- <img alt="AEB Logo" src="../assets/img/AmsterdamEconomicBoard.png"> -->
   <!-- </a> -->
  </div>
  <div>
    <h4> <a href="https://vu.nl/en/about-vu/research-institutes/asi/" target="_blank">Amsterdam Sustainability Institute</a></h4>
    The DISC is a VU Center of Excellence under the umbrella of the ASI.
  </div>
  <div>
    <h4> <a href="https://networkinstitute.org/" target="_blank">Network Institute</a></h4>
    The DISC is a collaboration with the NI.
  </div>
</div>