/* .footer-sponsors {
  background-color: blueviolet;
} */

.container-md {
    max-width: 1500px;
}

/* Fitting 3 cards in projects page */
.offset-xl-2 {
    margin-left: 10%;
}

.col-xl-8 {
    flex-basis: 83%;
    max-width: 83%;
}

/* Font of page titles */
.intro-header .page-heading h1 {
    font-size: 3rem;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    text-shadow: none;
}

/* Font of menu items */
.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

/* Background of menu items */
.navbar-custom {
    border-bottom-color: black;
    background-color: black;
}

.navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    border-color: black;
}

.team-member {
    text-align: top;
}
.team-member-name {
    font-size: larger;
    margin-top: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.team-member-role {
    font-size: large;
    font-family: "Roboto", sans-serif;
}

.team-member-affiliation {
    font-size: medium;
    font-family: "Roboto", sans-serif;
    color: #484747;
}

.team-member-container {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-left: 30px;
}

.posts-list {
    max-width: 800px;
}

footer a {
    color: #006eb9;
}

.launch-event-schedule {
    color: #006eb9;
    font-weight: bold;
    padding-right: 10px
}
